*.cs linguist-vendored
*.shader linguist-vendored
*.cginc linguist-vendored
*.compute linguist-vendored
*.hlsl linguist-vendored
*.glsl linguist-vendored
*.json linguist-vendored
*.xml linguist-vendored
*.js linguist-vendored
